Flask
Flask-CORS
Flask-PyMongo
Flask-Limiter
Flask-JWT-Extended
PyJWT
python-dotenv
Werkzeug
dnspython
google-auth
google-auth-oauthlib
itsdangerous
pypdf
python-docx
pytest
requests
sib-api-v3-sdk
gunicorn
stripe